.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-container {
    flex-grow: 1.5;
    width: 20vw;
    margin: 15px;
    border: 2px solid black;
    padding: 7px;
}

nav {
    display: flex;
}

#nav-logo {
    flex: 7;
    line-height: 0px;
}

#nav-logo h1 {
    font-family: signpainter;
    color: deeppink;
    font-size: 40px;
    margin-bottom: 0px;
}

#nav-logo h3, p {
    margin-left: 10px;
}


#nav-links {
    flex: 3;
    display: flex;
    align-self: center;
}